.container {
    padding: 50px;
}
.list {
    border: 1px black solid;
    width: 50%;
    height: 500px;
    list-style: none;
    padding: 10px;
}
.error {
    color: red;
}

input.focus {
    display: inline-block;
    border: 2px solid blue ;
}
input.writing {
    color: brown;
}

.teams-container {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50%;

}
.teams-card {
    padding-top: 10px;
    height: 200px;
    width: 100px;
    border: 1px solid black;
}

