.container {
    padding: 50px;
}
.list {
    border: 1px black solid;
    width: 50%;
    height: 500px;
    list-style: none;
    padding: 10px;
}
.error {
    color: red;
}

input.focus {
    display: inline-block;
    border: 2px solid blue ;
}
input.writing {
    color: brown;
}