<div class="container">
  <div>
    <h1>Random Teams Generator</h1>
  </div>
  <ul class="list">
      <li *ngFor="let member of teamMembers">{{member}}</li>
  </ul>
  <div class="add-container">
    <input #addMemberInput [class.focus]="memberName"
    [value]="memberName"
    (input)="onInput(addMemberInput.value)" type="text" name="add">
    <button (click)="addMember()">Add</button>
    <button (click)="clear()">Clear</button>
    <button (click)="changeInput()">change input field</button>

  </div>
  <div class="generate-container">
    <input #generateTeamsInput type="number" name="generate" id="generate"
    (input)="onTeamsNumbersInput(generateTeamsInput.value)">
    <button (click)="generateTeams()">generate</button>
  </div>    
</div>


<p class="error" *ngIf="errorMessage"> 
  {{errorMessage}}
</p>


<!-- show the content of the generated teams-->

<div class="teams-container">
    <div class="teams-card">
      <h2>Team 1</h2>
        <ul>
          <li>Joseph</li>
        </ul>
    </div>
    <div class="teams-card">
      <h2>Team 2</h2>
      <ul>
        
        <li>Ahmad</li>
      </ul>
  </div>
</div>