<!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input (input)="filterTable(input.value)" #input matInput name="search" >
</mat-form-field>

<table mat-table [dataSource]="data">
  <ng-container matColumnDef="names">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let post">{{post.name}}</td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let post">{{post.author}}</td>
  </ng-container>
  <ng-container matColumnDef="authorId">
    <th mat-header-cell *matHeaderCellDef> Author Identifier </th>
    <td mat-cell *matCellDef="let post">{{post.authorId}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr (click)="log(post)" mat-row *matRowDef="let post; columns: columnsToDisplay"></tr>
</table> -->

<mat-sidenav-container>
  <mat-sidenav>
      <mat-nav-list>

      </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar>

</mat-sidenav -container>
<router-outlet></router-outlet>