<div *ngIf="activities">
    <ul>
        <li *ngFor="let activity of activities">
            <p>{{activity.name}}</p>
            <p>{{activity.description}}</p>
            <p *ngIf="activity.range">{{activity.range.start | date: 'yyyy/MM/dd'   }}</p>
            <p *ngIf="activity.range">{{activity.range.end |  date: 'yyyy/MM/dd'  }}</p> 
            <!-- <p><a routerLink="/company/{{activity.companyId}}">{{activity.companyName}}</a></p> -->
        </li>

    </ul>
</div>
<p>activities-list works!</p>
